body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #E2FCFF; /* Cor de fundo personalizada */
}
.login-container {
    text-align: center;
    max-width: 400px;
    width: 80%;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #B66C6C;
    border-radius: 8px;
    box-shadow: 0 0 10px #B66C6C(0, 0, 0, 0.1);
}
img {
    max-width: 100%;
    height: auto;
    margin: 50px 0px;
}
form {
    display: flex;
    flex-direction: column;
}
label {
    margin-bottom: 5px;
    color: #B66C6C; /* Cor do texto do label personalizada */
    padding: 5px; /* Espaçamento interno do label */
    border-radius: 4px; /* Borda arredondada */
}
input {
    background-color: #E2FCFF; /* Cor de fundo do label personalizada */
    padding: 8px;
    margin-bottom: 15px;
}
button {
    padding: 10px;
    background-color: #B66C6C;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button a {
    color: #fff;
}

